
<title>Khách Sạn</title>
			<!-- start banner Area -->
			<section class="about-banner relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Hotels				
							</h1>	
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="hotels.html"> Hotels</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start destinations Area -->
			<section class="destinations-area section-gap">
				<div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content pb-40 col-lg-8">
		                    <div class="title text-center">
		                        <h1 class="mb-10">Popular Destinations</h1>
		                        <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, day to.</p>
		                    </div>
		                </div>
		            </div>						
					<div class="row">
						<div class="col-lg-4" ng-repeat="hotel in hotels">
							<a style="text-decoration: none; color: black;" href="#!/hotelDetails?id={{hotel.hotelId}}&start={{checkIn}}&return={{checkOut}}">
							<div class="single-destinations">
								<div class="thumb">
									<img src="{{hotel.images[0].link}}" height="250px" alt="">
								</div>
								<div class="details">
									<h4 class="d-flex justify-content-between">
										<span>Nhóm 8 Hotel</span>                              	
										<div class="star">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>				
										</div>	
									</h4>
									<p>
									  <span style="color: green;">Cách Bạn: {{hotel.distance}} KM </span>	|| Địa Chỉ:  {{hotel.address}}
									</p>
									<ul class="package-list" style="height: 450px;">
										<li ng-repeat="service in services" class="d-flex justify-content-between align-items-center">
											<span>{{service.serviceName}}</span>
											<span>Yes</span>
										</li>						
										<li class="d-flex justify-content-between align-items-center">
											<span>Price per night</span>
											<a href="#" class="price-btn">Chỉ Từ: {{ hotel.price | currencyVND }} VNĐ</a>
										</li>		
										<li ng-show="{{hotel.status}} === fill">Tình Trạng: <span style="color: green;">{{hotel.status}}</span></li>												
									</ul>
								</div>
							</div>
						</a>
						</div>	
						
				</div>	
				<nav aria-label="Page navigation example">
					<ul class="pagination">
					  <li ng-repeat="page in pages track by $index" class="page-item"><a class="page-link" ng-click="changepage(page-1)">{{page}}</a></li>
					</ul>
				  </nav>
			</section>
			<!-- End destinations Area -->
			

			<!-- Start home-about Area -->
			<section class="home-about-area">
				<div class="container-fluid">
					<div class="row align-items-center justify-content-end">
						<div class="col-lg-6 col-md-12 home-about-left">
							<h1>
								Did not find your Package? <br>
								Feel free to ask us. <br>
								We‘ll make it for you
							</h1>
							<p>
								inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.
							</p>
							<a href="#" class="primary-btn text-uppercase">request custom price</a>
						</div>
						<div class="col-lg-6 col-md-12 home-about-right no-padding">
							<img class="img-fluid" src="img/hotels/about-img.jpg" alt="">
						</div>
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->

			