<!doctype html>
<html lang="en">
  <head>
	<title>Register - BookingTravel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="login/css/style.css">

	</head> 
    <style>
        select,
        select option {
            color: black; /* Change the text color to black */
        }

		html {
			color: black;
		}
    </style>
	<body class="img js-fullheight">
	<section class="ftco-section" style="background-image: url(img/hero-bg.jpg); background-repeat: repeat;">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Register</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Chưa Có Tài Khoản</h3>
		      	<form class="signin-form" ng-submit="register()">
                    <div class="form-group">
                        <input ng-model="user.fullName" type="text" class="form-control" placeholder="FullName"  required>
                    </div>

                    <div class="form-group">
                        <input ng-model="user.phone" type="text" class="form-control" placeholder="Số Điện Thoại"  required>
                    </div>

                    <div class="form-group">
						<input ng-model="user.address" type="text" class="form-control" placeholder="Địa Chỉ" ng-keyup="getAddressSuggestions()" autocomplete="off" required>
						<!-- Phần tử hiển thị gợi ý địa chỉ -->
						<div class="suggestions" ng-show="showAddressSuggestions">
						  <div class="suggestion-item" ng-repeat="suggestion in addressSuggestions" ng-click="selectAddressSuggestion(suggestion)">
							{{ suggestion.place_name }}
						  </div>
						</div>
					  </div>

		      		<div class="form-group">
		      			<input ng-model="user.email" type="text" class="form-control" placeholder="Email" ng-pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/" required>
		      		</div>
	            <div class="form-group">
	              <input ng-model="user.password" id="password-field" type="password" class="form-control" placeholder="Password" required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
                <div class="form-group">
                    <select style="color: black;" ng-model="selectedProvince" ng-options="province.full_name for province in provinces track by province.id" ng-change="fetchDistricts(selectedProvince.id)" class="form-control" required>
                        <option value="" disabled selected>Chọn Tỉnh/Thành</option>
                    </select>
                </div>
                <div class="form-group">
                    <select ng-model="selectedDistrict" ng-options="district.name for district in districts track by district.id" ng-change="fetchWards(selectedDistrict.id)" class="form-control" required>
                        <option value="" disabled selected>Chọn Quận/Huyện</option>
                    </select>
                </div>
                <div class="form-group">
                    <select ng-model="selectedWard" ng-options="ward.name for ward in wards track by ward.id" class="form-control" required>
                        <option value="" disabled selected>Chọn Phường/Xã</option>
                    </select>
                </div>
	            <div class="form-group">
	            	<button  type="submit" class="form-control btn btn-primary submit px-3">Sign UP</button>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
		            	<label class="checkbox-wrap checkbox-primary">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="#" style="color: #fff">Forgot Password</a>
								</div>
	            </div>
	          </form>
              <span class="text-center" style="color: red;">{{error}}</span>
              <span class="text-center" style="color: green;">{{success}}</span>
	          <p class="w-100 text-center">&mdash; Đã Có Tài Khoản &mdash;</p>
	          <div class="social d-flex text-center">
	          	<a href="#!/login" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span>Đăng Nhập</a>
	          </div>
		      </div>
				</div>
			</div>
		</div>
	</section>
    

	<script src="login/js/jquery.min.js"></script>
  <script src="login/js/popper.js"></script>
  <script src="login/js/bootstrap.min.js"></script>
  <script src="login/js/main.js"></script>

	</body>
</html>

